#beef {
	
	width: 7em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
	background-color: #aa1d32
}

#chicken {
	
	width: 7em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
    background-color: #ce8177
}

#sushi {
	width: 5em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
	background-color: #cec48e
}

#chicken_items, #beef_items, #sushi_items {
	background-color: #878683
}