#beef {
	
	width: 7em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
	float: right;
	background-color: #aa1d32;
}

#chicken {
	
	width: 7em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
	float: right;
    background-color: #ce8177
}

#sushi {
	width: 5em;
	height: 1em;
	margin: 0;
	padding: 1px;
	border: 1px solid black;
	float: right;
	background-color: #cec48e
}

#chicken_items, #beef_items, #sushi_items {
	margin: 20px;
	border: 1px solid black;
	width: 40%;
	background-color: #878683

}